* {
	padding: 0;
	margin: 0;
}

html {
	-webkit-user-select: none;
}

.container-fluid {
	min-width: 320px;
}

.container {
	border: 1px solid red;
}

.logo>.row {
	/*border: 1px solid red;*/
	background: #367fa9;
}

.logo>.row img {
	margin-top: 1rem;
}

.container-fluid>.row>.header-message>.message {
	background: #3c8dbc;
}

.container-fluid>.row>.header-message>.message {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.message>.nav-top-left>li>a>span,
.message>.nav-top-right>li>a>span {
	font-size: 20px;
	color: #fff;
	margin: 0 10px;
}

.nav-top-left>li>a ,.nav-top-right>li>a{
	display: inline-block;
	height: 50px;
}

.nav-top-left>li>a:hover {
	background: #367fa9;
}

.nav-top-right>li>a:hover {
	background:#367fa9;
}

.message>.nav-top-right>li>a>.glyphicon {
	top: 15px;
}
.message>.nav-top-left>li>a>.glyphicon {
	top: 15px;
}
.message .nav-top-right {
	display: flex;
	justify-content: flex-end;
}

.glyphicon>i {
	display: block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	position: relative;
	top: -25px;
	left: 13px;
	color: #fff;
	font-size: 13px;
	line-height: 12px;
	text-indent: 2px;
}

.container>.Navigation-col>li {
	list-style: none;
}

.user>a {
	display: inline-block;
	display: flex;
	flex-flow: row nowrap;
	margin: 0 10px;
	line-height: 33px;
	color: white;
	text-decoration: none;
}

.user>a>.portrait {
	margin-right: 5px;
}
.header-img{
	width: 25px;
	height: 25px;
	background: #fff;
}
li{
	list-style: none;
}
